@model System.Collections.Generic.List<projektInz.web.Models.WidokProduktu>

@{
    ViewBag.Title = "Produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkty</h2>

<ul>
    @foreach (var prod in this.Model)
    {
        <li>@prod.Nazwa (@prod.DataWprowadzenia) @Html.ActionLink("Edytuj","EdytujProdukt",new { id = prod.Id })</li>
    }
</ul>

@Html.ActionLink("Dodaj","DodajProdukt")

<h2>Kontrahenci</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>a</th>
                <th>b</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kontr in this.Model)
            {
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
